project_id               = "YOUR_GCP_PROJECT_ID"
region                   = "us-central1"
environment              = "production"
image                    = "us-central1-docker.pkg.dev/YOUR_GCP_PROJECT_ID/ff-production-images/feature-flag-service:latest"
db_tier                  = "db-custom-1-3840"
redis_memory_gb          = 1
cloud_run_min_instances  = 1
cloud_run_max_instances  = 20
alert_email              = "ops@example.com"
